@model IEnumerable<WebAppCinemaBooking.Areas.Admin.Models.Room>

@{
    ViewData["Title"] = "Index";
}
<style>
    th {
        text-align: center;
    }

    td {
        font-size: 16px;
        text-align: center;
        line-height: 40px;
    }

    a label.fa {
        font-size: 20px;
        display: block;
        line-height: 40px;
    }

    a label.fa.fa-lock {
        color: red;
    }

    a label.fa.fa-unlock-alt {
        color: green;
    }
    a label.fa.fa-eye {
        color: green;
    }
</style>

<h1>Phòng</h1>

<p>
    <a asp-action="Create" class="btn btn-block" style="background-color: #26c6da;">Thêm Phòng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Phòng:
            </th>
            <th>
                Rạp Phim:
            </th>
            <th>
                Trạng Thái:
            </th>
            <th>Xem Sơ Đồ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Name)
            </td>
            <td>
                @if (item.Status == 1)
                {
                    <a asp-action="UnActive" asp-route-id="@item.ID"><label class="fa fa-unlock-alt"></label></a>
                }
                else if (item.Status == 0)
                {
                    <a asp-action="Active" asp-route-id="@item.ID"><label class="fa fa-lock"></label></a>
                }
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Seats" asp-action="Index" asp-route-id="@item.ID"><label class="fa fa-eye"></label></a>
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn" style="background-color: #26c6da;">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn" style="background-color: #1ea6c1;">Chi Tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn" style="background-color: #26c6da;">Xóa</a>
                </div>
            </td>
            
        </tr>
}
    </tbody>
</table>
