@model WebAppCinemaBooking.Areas.Admin.Models.Seat_Level

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết Loại Ghế</h1>

<div>
    <h4>Loại Ghế</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Tên Loại Ghế:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Ảnh ghế chưa chọn:
        </dt>
        <dd class="col-sm-9">
            <img src="~/Uploads/Seat_Level/@Html.DisplayFor(model => model.Image)" style="max-width:100px;" />
        </dd>
        <dt class="col-sm-3">
            Ảnh ghế đang được chọn:
        </dt>
        <dd class="col-sm-9">
            <img src="~/Uploads/Seat_Level/@Html.DisplayFor(model => model.Image_Selected)" style="max-width:100px;" />
        </dd>
        <dt class="col-sm-3">
            Ảnh ghế đã đặt:
        </dt>
        <dd class="col-sm-9">
            <img src="~/Uploads/Seat_Level/@Html.DisplayFor(model => model.Image_Checked)" style="max-width:100px;" />
        </dd>
        <dt class="col-sm-3">
            Số chổ:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Count_Cell)
        </dd>
        <dt class="col-sm-3">
            Giá:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-3">
            Trạng Thái:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn" style="width:300px;margin-bottom: 10px;background-color: #26c6da;">Sửa</a><br />
    <a asp-action="Index" class="btn" style="width:300px;margin-bottom: 10px;background-color: #1ea6c1;">Trở Về</a>
</div>