@model WebAppCinemaBooking.Areas.Admin.Models.Seat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Row_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Row_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Col_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Col_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat_Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat_Level.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.Room_ID">Back to List</a>
</div>
