@model WebAppCinemaBooking.Areas.Admin.Models.Seat
@{
    ViewData["Title"] = "Index";
}

<center>
    <h2>Sơ Đồ Ghế thuộc @ViewBag.Room.Name</h2>
</center>

<table class="table">
    @for (int i = 0; i <= 15; i++)
    {
    <tr>
        @for (int j = 0; j <= 15; j++)
        {
            if (i == 0 && j == 0)
            {
                <td style="text-align: center;font-weight:bold;">@i</td>
            }
            else if (i == 0)
            {
                <td style="text-align: center;font-weight:bold;">@j</td>
            }
            else if (j == 0)
            {
                <td style="text-align: center;font-weight:bold;">@i</td>
            }
            else
            {
                <td style="width: 6.666%;height: auto;text-align: center;border: 2px solid #002447;" id="@i@j" colspan="1">
                    <a href="#" data-idroom="@ViewBag.Room.ID" data-row="@i" data-col="@j" data-target="#seat" data-toggle="modal" class="identifyingClass"><label class="fa fa-plus"></label></a>
                </td>
            }


        }
    </tr>
    }
</table>

@foreach (var item in ViewBag.ListSeat)
{
    int row = item.Row_ID;
    int col = item.Col_ID;
    if (item.Seat_Level.Count_Cell == 1)
    {
        <script> document.getElementById('@row@col').innerHTML ='<a href="/Admin/Seats/Details/@item.ID" style="display:block">@item.Name</a>';</script>
        <script> document.getElementById('@row@col').style = 'background:#26c6da;width: 6.666%;height: auto;text-align: center;border: 2px solid #002447;'; </script>
    }
    else
    {
        <script> document.getElementById('@row@col').colSpan='@item.Seat_Level.Count_Cell'; </script>
        <script> document.getElementById('@row@col').innerHTML ='<a href="/Admin/Seats/Details/@item.ID" style="display:block">@item.Name</a>';</script>
        <script> document.getElementById('@row@col').style = 'background:#26c6da;width: 6.666%;height: auto;text-align: center;border: 2px solid #002447;'; </script>
        for (int i = 1; i < item.Seat_Level.Count_Cell; i++)
        {
            col = col + 1;
            <script> document.getElementById('@row@col').style='display:none;'; </script>
        }
    }
}

<div class="modal fade" id="seat" tabindex="-1" role="dialog" aria-labelledby="my_modalLabel">
    <form asp-area="Admin" asp-controller="Seats" asp-action="Create">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm Ghế</h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="Room_ID" id="idroom" value="" />
                    <input type="hidden" name="Row_ID" id="row" value="" />
                    <input type="hidden" name="Col_ID" id="col" value="" />
                    <input type="hidden" name="Status" value="1" />
                    <div class="form-group">
                        <label class="control-label">Tên:</label>
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Loại Ghế:</label>
                        <select class="form-control" name="Seat_Level_ID">
                            @foreach (var item in ViewBag.Seat_Level)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).on("click", ".identifyingClass", function () {
        var idroom = $(this).data('idroom');
        $(".modal-body #idroom").val(idroom);
        var row = $(this).data('row');
        $(".modal-body #row").val(row);
        var col = $(this).data('col');
        $(".modal-body #col").val(col);
    });
</script>