@model WebAppCinemaBooking.Areas.Admin.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Khách Hàng</h1>

<h3>Bạn Có Chắc Chắn Muốn Xóa Khách Hàng Này?</h3>
<div>
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên Khách Hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Mật Khẩu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class="col-sm-2">
            Ngày Sinh:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            Địa Chỉ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Số Điện Thoại:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Tổng Chi Tiêu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total_Spending)
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Avatar-Customer/@Html.DisplayFor(model => model.Avatar)" style="max-width:200px" />
        </dd>
        <dt class="col-sm-2">
            Trạng Thái:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn" style="width:300px;margin-bottom: 10px;background-color: #26c6da;" />
        <br />
        <a asp-action="Index" class="btn" style="width: 300px;margin-bottom: 10px;background-color: #1ea6c1;
">Trở Về</a>
    </form>
</div>
